input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

#container-login::-webkit-scrollbar {
  width: 14px;
}

/* trilho (fundo) */
#container-login::-webkit-scrollbar-track {
  background: transparent; /* ou uma cor */
}

/* barra em si */
#container-login::-webkit-scrollbar-thumb {
  background-color: #aa9688;
  border-radius: 999px;
  border: 2px solid transparent; /* cria efeito flutuante */
  background-clip: content-box;
}

/* hover */
#container-login::-webkit-scrollbar-thumb:hover {
  background-color: #aa96887a;
}

/* active */
#container-login::-webkit-scrollbar-thumb:active {
  background-color: #aa9688;
}
